<header>
     <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flipudemy</title>
    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/3f16fb12e4.js" crossorigin="anonymous"></script>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="style.css">
    </header>
<!--NAVIGATION-->
      <nav>
            <span class="nav-logo">
                <a href=""><img src="icons/logo.png" alt=""></a>
                <p>FlipUdemy</p>
            </span>
            <span class="nav-links">
                <a href="">Home</a>
                <a href="">About</a>
                <a href="">Courses</a>
                {{!-- <a href="/login">Login</a> --}}
                <a href="Register">Login/Register</a>
                {{!-- <a href="">Courses</a> --}}
                <img src="icons/unnamed.jpg" alt="">
            </span>
        </nav>
